h1{
    border: 5px solid red;
}

nav{
    border: 5px solid blue;
}

section{
    border: 5px solid green;
    float: left;
    width: 70%;
    height: 200px;
}

article{
    border: 5px solid purple;
    float: left;
    width: 70%;
    height: 200px;

}

aside{
    border: 5px solid yellow;
    float: right;
    width: 25%;
    height: 300px;

}

footer{
    border: 5px solid orangered;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

section > img{
    float: right;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;

}

#boxshadow{
    box-shadow: -25px -30px 20px #294F8E inset;
}

#textshadow{
    text-shadow: 10px 10px 5px #1991C0;
}